/* Section Map
-CSS Reset
-General Helper Classes
-Universal Styles
  Layout
  Typography
  General Styles
-header footer
-modular elements
  element names
forms

--------
Fonts:
  heading: 'Share Tech Mono', monospace;
  body: font-family: 'Roboto', sans-serif;
Colors:
  maastricht blue: #0A1C38
                  rgb(10,28,56)
  maximum red: #D62626
              rgb(214,38,38)
  carrot orange: #F7692C
                rgb(247,105,44)
  sunglow: #FFC32D
          rgb(255,195,45)
  brilliant azure: #2CA7F4
                  rgb(44,167,244)
  ufo green: #25CE60
            rgb(37,206,96)
  cosmic latte: #FFF9EB
                rgb(255,249,235)
-------

TO DOS
- check stars background gif

*/


/* CSS Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

img {
  max-width: 100%;
  height: auto;
}

/* Helper Classes */
.tall {min-height: 100vh;}
.med-height {min-height: 50vh;}
.short {min-height: 30vh;}

.no-padding{ padding: 0;}

.light-bg { background-color: #fefefe; }
.dark-bg { background-color: #333333; }

/*Gridlex RESET */
[class*=col] {
  padding: 0;
}

[class*=grid] {
  margin: 0;
}

/* Universal Styles */
/* Layout */
header, div, div.nextstep{
  margin-bottom: 2.5rem;
}

section.frame{
  background-color: rgba(0, 0, 0, 0.3);
  margin: 3%;
  padding: 1.5%;
  border: 1px solid #FFF9EB;
}

section.frame-covers{
  background-color: rgba(0, 0, 0, 0.3);
  margin: 3%;
  padding: 3%;
  border: 1px solid #FFF9EB;
}

/* MOBILE LAYOUT */


/* General Styling */
body{
  font-family: "Share Tech Mono", sans-serif;
  color: #d7d7d7;
  font-size: 1.1rem;
  background-image: url('../images/stars_slow.gif');
  background-color: #0A1C38;
  /* height: 100vh; */
}

h1, h2, h3, h4, h5, h6{
  font-family: "Share Tech Mono", monospace;
  color: #FFF9eb;
}

h1{
  font-size: 2rem;
  margin-bottom: .5%;
  color: #F7692C;
}

h2{
  font-size: 1rem;
  color: #D62626;
}

h3{
  font-family: "Share Tech Mono", monospace;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

p{
  margin-top: 1.5%;
}

a{
  font-family: "Share Tech Mono", monospace;
  text-decoration: none;
  color: #ffffff;
}

i{

}

.button{
  transition: background-color 0.3s ease;
  display: inline-block;
  background-color: #2CA7F4;
  text-align: center;
  padding: 1%;
}

.button:hover{
  background-color: #25CE60;
}

/* Header */
header{
}

/* Footer */
footer {
text-align: right;
}

footer div{
  margin: 0;
}

footer a{
  transition: all 1s ease;
  color: #a7a7a7;
  border-bottom: 1px dotted #a7a7a7;
}

footer a:hover{
  color: #FFC32D;
  border-bottom: 1px dotted #FFC32D;
}

/* Main Content */
div.story{
  width: 100%;
}

/* SVG Stuff Starts Here */
/*SVG Colors */
.maastricht{
  fill: rgb(10,28,56);
}

.maastricht-stroke{
  stroke: rgb(10,28,56);
}

.maxred{
  fill: rgb(214,38,38);
}

.maxred-stroke{
  stroke: rgb(214,38,38);
}

.carrot{
  fill: rgb(247,105,44);
}

.carrot-stroke{
  stroke: rgb(247,105,44);
}

.sunglow{
  fill: rgb(255,195,45);
}

.sunglow-stroke{
  stroke: rgb(255,195,45);
}
.azure{
  fill: rgb(44,167,244);
}

.azure-stroke{
  stroke: rgb(44,167,244);
}

.ufogreen{
  fill: rgb(37,206,96);
}

.ufogreen-stroke{
  stroke: rgb(37,206,96);
}

.latte{
  fill: rgb(255,249,235);
}

.latte-stroke{
  stroke: rgb(255,249,235);
}

/* SVG Styling */
