/* Section Map
-CSS Reset
-General Helper Classes
-Universal Styles
  Layout
  Typography
  General Styles
-header footer
-modular elements
  element names
forms

--------
Fonts:
  heading: 'Share Tech Mono', monospace;
  body: font-family: 'Roboto', sans-serif;
Colors:
  maastricht blue: #0A1C38
  maximum red: #D62626
  carrot orange: #F7692C
  sunglow: #FFC32D
  brilliant azure: #2CA7F4
  ufo green: #25CE60
  cosmic latte: #FFF9EB
-------

TO DOS
- check stars background gif

*/


/* CSS Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid orange; */
}

img {
  max-width: 100%;
  height: auto;
}

/* Helper Classes */
.tall {min-height: 100vh;}
.med-height {min-height: 50vh;}
.short {min-height: 30vh;}

.no-padding{ padding: 0;}

.light-bg { background-color: #fefefe; }
.dark-bg { background-color: #333333; }

/*Gridlex RESET */
[class*=col] {
  padding: 0;
}

[class*=grid] {
  margin: 0;
}

/* Universal Styles */
/* Layout */
header, div{
  margin-bottom: 1.8%;
}

section.frame{
  background-color: #FFF9EB;
  margin: 3%;
  padding: 1.5%;
}

/* MOBILE LAYOUT */


/* General Styling */
body{
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-size: 1.1rem;
  background-image: url('../images/stars_slow.gif');
  background-color: #0A1C38;
  /* height: 100vh; */
}

h1, h2, h3, h4, h5, h6{
  font-family: "Share Tech Mono", monospace;
  color: #555555;
}

h1{
  font-size: 2rem;
  margin-bottom: .5%;
}

h2{
  font-size: 1.5 rem;
}

h3{
  font-size: 1.3rem;
  margin-bottom: .5%
}

p{
  margin-top: 1.5%;
}

a{
  font-family: "Share Tech Mono", monospace;
  text-decoration: none;
  color: #9b59b6;
}

i{

}

.button{
  display: inline-block;
  background-color: #f1c40f;
}

/* Header */
header{
}

/* Footer */
footer {
text-align: right;
}

footer div{
  margin: 0;
}


/* Main Content */
div.story{
  width: 100%;
}

div.nextstep{

}
