---
layout: covers
colwidth: -8
instructions:
  - storyhead: Throttles Engaged
    tasks:
      - para: Thank you for Journeying with us aboard the Battlestar Galactica!
      - para: We hope you had a pleasant time.
  - storyhead: About the Project
    tasks:
      - para: Created for IoC by Mandy Weih
      - para: Special credit to all the Mentors and their infinite patience
      - para: Extra credit to the Noun Project for providing some wild SVGs.
      - para: Disclaimer, this is still a work-in-progress
---

<!-- STORY Content PROBLEM AREA
--------------------------->
{% for spot in page.instructions %}
    <div class="story">
      <h3>{{spot.storyhead}}</h3>
      {% for spot in spot.tasks %}
      <p>{{ spot.para }}</p>
      {% endfor %}
    </div>
{% endfor %}

<!-- FOOTER HERE
--------------------------->
    <footer class="grid-4-right">
      <div class="col">
        <a href="/index.html">reset</a>
      </div>
    </footer>
  </section>
