---
layout: covers
colwidth: -7
stars: go
storyhead: Welcome Traveler
instructions:
  - task: Describe the story
  - task: Describe the setup
  - task: Describe what they need to do
nexttitle: What would you like to see?
destinations:
  - visit: Observatory
    weblink: /observatory.html
  - visit: Navigation Center
    weblink: /navcenter.html
---

<!-- STORY Content PROBLEM AREA
--------------------------->
    <div class="story">
      <h3>{{page.storyhead}}</h3>
      {% for spot in page.instructions %}
      <p>{{spot.task}}</p>
      {% endfor %}
    </div>

<!-- NEXT STEP LINKS
--------------------------->
    <div class="nextstep grid-spaceBetween">
      <h3 class="col-12">{{page.nexttitle}}</h3>
      {% for spot in page.destinations %}
      <a href="{{spot.weblink}}" class="col-4 button">{{spot.visit}}</a>
      {% endfor %}
    </div>
