---
layout: covers
colwidth: -7
stars: go
storyhead: Welcome, Traveler!
instructions:
  - task: We are aboard the Battlestar Galactica, journeying to new Cobol. While in transit, feel free to wander the ship.
  - task: Please respect your access rights, and do not attempt entry into areas outside your clearance. Have a pleasant journey.
nexttitle: What would you like to see?
destinations:
  - visit: Observatory
    weblink: /observatory.html
  - visit: Command Center
    weblink: /noaccess.html
---

<!-- STORY Content PROBLEM AREA
--------------------------->
    <div class="story">
      <h3>{{page.storyhead}}</h3>
      {% for spot in page.instructions %}
      <p>{{spot.task}}</p>
      {% endfor %}
    </div>

<!-- NEXT STEP LINKS
--------------------------->
    <div class="nextstep grid-spaceBetween">
      <h3 class="col-12">{{page.nexttitle}}</h3>
      {% for spot in page.destinations %}
      <a href="{{spot.weblink}}" class="col-4 button">{{spot.visit}}</a>
      {% endfor %}
    </div>
