<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300|Share+Tech+Mono" rel="stylesheet">
  <script src="https://use.fontawesome.com/907fdd13d4.js"></script>
  <title>Space Place</title>
  <link href="/css/styles.css" type="text/css" rel="stylesheet">
</head>

<!-- BODY START  -->
<body class="grid-center">
  <section class="col{{page.colwidth}} frame-covers">
    <header>
      <h1>Mission Launch</h1>
      <h2 id="datepicker">
      </h2>
    </header>

{{content}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>
